@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

* {
    font-family: 'Poppins', sans-serif !important;
}


:root {
    --colorAzulClaro: #0f91d7;
    --colorBlanco: #fff;
}

.cont-main {
    /* border: solid 1px red; */
    padding: 0 !important
}

.logo_1 {
    width: 210px;
}
.cont-header-main h2{
    text-transform: uppercase;
}

.navbar {
    background: #000 !important;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    margin-bottom: 1%;
}
.navbar .container-fluid{
    padding: 0;
}

.navbar-brand {
    margin: 0 !important;
    padding: 0 !important;
}

.navbar-collapse {
    flex-grow: 0 !important;
    width: 55% !important; 
}
.navbar-collapse ul{
    width: 100%;
    justify-content: space-around;
}

.collapse a {
    color: var(--colorBlanco);
    text-decoration: none !important;
    padding: 0 20px;
}
.collapse li{
    text-align: center;
    display: flex;
    align-items: center;
}

.carousel-indicators button {
    background-color: var(--colorAzulClaro) !important;
}

.activado {
    color: var(--colorAzulClaro) !important;
    border-bottom: dotted 2px var(--colorAzulClaro);

}

.nav-link:focus,
.nav-link:hover {
    color: var(--colorAzulClaro) !important;
}

.fa-bars {
    font-size: 25px;
    color: var(--colorBlanco);
}

/* Redes sociales */
.cont-redes {
    display: flex;
    flex-direction: row;

}
.cont-redes a{
    background: var(--colorAzulClaro);
    border-radius: 2px;
    /* padding: 5px; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.cont-redes svg {
    width: 20px;
    height: 20px;
    margin: 4px;

}

.cont-redes .cls-1 {
    fill: var(--colorBlanco);
}
/* 
.cont-redes .cls-2 {
    fill: var(--colorBlanco);
} */

/* Fin Redes sociales */

.cont-slider {
    margin-bottom: 2%;
}

.cont-header-main {
    /* border: solid 1px red; */
    width: 90%;
    margin: auto;
}

.cont-header-main img {
    margin: 0;
}

/* Carrusel */
.carousel {
    /* border: solid 1px rgb(55, 0, 255); */
    width: 100% !important;
    height: 78vh;
}

.carousel-indicators button {
    /* border: solid 1px red !important; */
    width: 10px !important;
    height: 10px !important;
    border-radius: 50%;
}

.carousel-inner {
    /* border: solid 1px red; */
    height: 100%;
}

.carousel-item img {
    width: 100% !important;
    object-fit: cover !important;
    height: auto;
}

/* Fin Carrusel */
.img_clientes {
    width: 100%;
    margin-bottom: 1.5%;
}

section h2 {
    color: var(--colorAzulClaro);
    font-weight: 600;
    margin-bottom: 25px;
    font-size: 30pt;
}

/* section services */
.section-servicios {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 2%;
    margin-bottom: 2%;
}

.cont-parrafo-subtitle p {
    margin: 0;
    text-align: center;
    font-size: 17pt;
}

.cont-parrafo-subtitle p:nth-child(2) {
    font-weight: 700;
}

.cont-item-servicios {
    /* border: solid 2px red; */
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.servicio {
    border: solid 2px var(--colorAzulClaro);
    width: 400px;
    height: 200px;
    border-radius: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 10px 20px;
}

.servicio p {
    text-align: center;
    width: 60%;
    /* border: solid 1px red; */
    font-size: 11pt;
    font-weight: 400;
    text-align: left;
}

.btn-solicitar-servicio {
    background: var(--colorAzulClaro);
    color: var(--colorBlanco);
    padding: 10px;
    width: 305px;
    height: 83px;
    border-radius: 30px;
    font-size: 13pt;
    margin-top: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-solicitar-servicio:hover {
    border: solid 2px var(--colorAzulClaro);
    color: var(--colorAzulClaro);
    font-weight: 700;
}

/*Fin section services */

/* Section unidad de negocio*/
.cont-slider-unidad-de-negocio{
    /* border: solid 2px red; */
    position: relative;
    left: -4.9vw;
    height: 100vh;
    width: 99vw;
    margin-bottom: 2%;
}
.carrusel-unidad-de-negocio{
    /* border: solid 2px var(--colorAzulClaro); */
    
}
.slide-unidad-de-negocio{
    height: 100% !important;
}
.slider-item-unidad-de-negocio{
    /* border: solid 3px orangered; */
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.cont-card{
    /* border: solid 2px blue; */
    width: 555px;
    height: 656px;
    border-radius: 30px;
    box-shadow: #000000c2 0 0 5px;
    background: var(--colorBlanco);
}
.slider-item-unidad-de-negocio .cont-card img{
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}
.slider-01{
    background: url('../img/unidad_de_negocio/puerto1.png');
    background-size: cover;
}
.slider-02{
    background: url('../img/unidad_de_negocio/mina2.png');
    background-size: cover;
}
.slider-03{
    background: url('../img/unidad_de_negocio/pintura3.jpg');
    background-size: cover;
}
.slider-04{
    background: url('../img/unidad_de_negocio/suministro4.png');
    background-size: cover;
}
.card-title{
    margin-top: 3%;
    padding: 0 2%;
    border-bottom: solid 3px var(--colorAzulClaro);
    margin-bottom: 5%;
}
.card-title h4{
    font-weight: 700;
    margin: 0;
    font-size: 33px;
}
.card-description{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: c;
}
.card-text{
    width: 378px;
}
.card-text p{
    font-size: 24px;
    text-align: justify;
}
.btn-info-unidad{
    background: var(--colorAzulClaro);
    padding: 15px 20px;
    color: #000;
    font-size: 18px;
    font-weight: 700;
    border-radius: 20px;
}
.btn-info-unidad:hover{
    color: #000;
    border: solid 2px var(--colorAzulClaro);
}

/* Fin Section unidad de negocio */

/* Section conocenos */
.section-conocenos {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 5%;
}

.cont-sect-main-conocenos {
    /* border: solid 2px rgb(217, 255, 0); */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.cont-mision-vision,
.cont-aboutus {
    border-radius: 32px;
    border: solid 3px var(--colorAzulClaro);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
}

.cont-mision-vision {
    /* width: 852px; */
    /* height: 897px; */
}

.cont-mision-vision,
.cont-aboutus {
    width: 845px;
}

.cont-img img {
    width: 348px;
    height: 328px;
    object-fit: cover;
    border-radius: 32px;
}

.cont-text-img {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.cont-text-img p {
    /* border: solid 1px red; */
    width: 47%;
    text-align: justify;
    font-weight: 500;
    font-size: 11.5pt;
    display: flex;
    align-items: center;

}

.cont-mision-vision h3 {
    font-weight: 700;
    margin-bottom: 3%;
}

.cont-mision {
    margin-bottom: 3%;
}

.cont-mision,
.cont-vision {
    text-align: center;
}

.cont-aboutus {
    /* width: 850px; */
}

.cont-aboutus img {
    width: 100%;
    height: 507px;
    border-radius: 32px;
    margin-bottom: 2%;
}

.cont-text h4 {
    text-align: center;
    font-weight: 700;
}

.cont-text p {
    text-align: center;
    font-size: 14.6pt;
}

.cont-aboutus .cont-iconos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 4%;
}

.icono-aboutus {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 1%;
}

.cont-aboutus .icono-aboutus img {
    width: 55px;
    height: 55px;
    color: var(--colorAzulClaro);
    border-radius: 0;
    
}
.cont-aboutus img{
    object-fit: cover;
}

.icono-aboutus p {
    font-weight: 700;
}

/* Fin section contacto */

/* Proyect destacados */
.section-proyect-destados {
    z-index: 888;
    position: absolute;
    /* border: solid 1px red; */
    width: 100%;
    height: 45vh;
    left: 0;
    background: url('../img/featured_projects/1.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cont-videos-proyect {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    flex-wrap: wrap;
    top: 22vh;
    background: var(--colorBlanco);
    padding: 1%;
    border-radius: 65px;
}

.section-proyect-destados h2 {
    position: relative;
    top: 5%;
    color: var(--colorBlanco);
}


.cont-video {
    /* border: solid 1px red; */
    background: var(--colorBlanco);
    margin: 1rem;
}

.cont-video video {
    width: 416px;
    height: 300px;
    border-radius: 40px;
    object-fit: cover;
}

.cont-video video {
    background: transparent;
}

.play-icon {
    /* border: solid 1px red; */
    position: absolute;
    /* transform: translate(-50%, -50%); */
    font-size: 80px;
    /* Tamaño del ícono de reproducción */
    color: var(--colorAzulClaro);
    cursor: pointer;
    z-index: 9;
}

.play-icon-1 {
    top: 40%;
    left: 15%;
}

.play-icon-2 {
    top: 40%;
    left: 47%;
}

.play-icon-3 {
    top: 40%;
    left: 79%;
}

/* Carrusel de proyectos */
.cont-carrusel-proyect {
    /* border: solid 2px red; */
    width: 100%;
    position: relative;
    top: 20vh;
    margin-bottom: 7%;
}

.carousel-inner-pryect {
    /* border: solid 1px red; */
}

.carousel-item {
    /* border: solid 2px yellow; */
    width: 100%;
    height: 100%;
}

.control-carousel-pd span,
.control-carousel-pd span {
    color: var(--colorAzulClaro) !important;
    background: none !important;
    font-size: 60px;
}

.cont-proyectos {
    /* border: solid 2px blue; */
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 2% 0;
}

.cont-proyecto{
    border: solid 3px var(--colorAzulClaro);
    width: 419px !important;
    height: 589px !important;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5% 0;
}

.cont-logo-title{
    /* border: solid 1px red; */
    display: flex;
    align-items: center;
    margin-bottom: 2%;
}
.cont-logo-title img{
    width: 95px !important;
    border-right: solid 1.5px var(--colorAzulClaro);
}
.cont-logo-title h6{
    color: var(--colorAzulClaro);
    font-weight: 700;
    margin: 0;
    
}
.cont-proyectos .cont-subtitle{
    text-align: center;
    /* border: solid 1px red; */
    width: 90%;
}
.cont-proyectos .cont-subtitle h4{
    font-size: 13px;
    font-weight: 700;
    margin: 0;
}
.cont-proyectos .cont-subtitle h4:nth-last-child(1){
    margin-bottom: 7%;
}
.cont-img-proyect{
    /* border: solid 1px red; */
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.cont-img-proyect img{
    width: 131px !important;
    height: 130px !important;
    margin-bottom: 5% !important;
    object-fit: cover;
}
.proyecto-7 img{
    width: 100% !important;
}
.proyecto-8 img{
    width: 137.51px !important;
    height: 199.05px !important;
}
/* Fin Proyect destacados */

/* Contacto */
.section-contacto {
    z-index: 999;
    /* border: solid 1px red; */
    /* position: relative; */
    /* top: 145vh; */
    padding-bottom: 3%;
    width: 90%;
}

.section-contacto h2 {
    text-align: center;
    margin-bottom: 6%;
    color: var(--colorAzulClaro);
}

.cont-info-form {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.cont-info h3 {
    color: var(--colorAzulClaro);
    margin-bottom: 5%;
}

.cont-icono-info {
    /* border: solid 2px rgb(157, 255, 0); */
    width: 560px;
}

.cont-icono-info .iconos {
    /* border: solid 1px red; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 25px 0 0 0;
}

.cont-icono-info .iconos svg {
    /* border: solid 1px red; */
}
.cont-icono-svg{
    background: var(--colorAzulClaro);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    padding: 4%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cont-icono-info .iconos svg .cls-1 {
    fill: #fff;
}

.iconos .cont-text {
    /* border: solid 1px red; */
}

.cont-text p,
.cont-text h5 {
    margin: 0;
}

.cont-icono-info .iconos .cont-text {
    /* border: solid 1px rgb(0, 119, 255); */
    width: 50%;
}

.cont-text h5 {
    color: var(--colorAzulClaro);
    font-size: 18pt;
}

.cont-text p {
    text-align: left;
}


.cont-form {
    border: solid 1.5px var(--colorAzulClaro);
    border-radius: 25px;
    padding: 2% 4%;
    width: 700px;
}

.cont-form h5 {
    font-size: 12pt;
    margin-bottom: 2%;
}

.cont-form label {
    color: var(--colorAzulClaro);
}

.cont-form input,
.cont-form textarea {
    margin-bottom: 3.5%;
    border: solid 1.5px var(--colorAzulClaro);
    border-radius: 10px;
}

.cont-form textarea {
    width: 100%;
    resize: none;
    height: 150px;
}

.cont-form textarea::placeholder {
    color: var(--colorAzulClaro) !important;
}

.required {
    color: red;
}

/* Fin Contacto */

/* Section servicios */
.section-footer {
    /* border: solid 1px red; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    padding-top: 5%;
    padding-bottom: 2%;
    background: #000;
    color: var(--colorBlanco);
    border-bottom: solid 3px white;
}

.section-footer .cont-logo-description img {
    width: 100%;
    margin-bottom: 2%;
}

.section-footer>.cont-logo-description {
    width: 600px;
}

.section-footer>.cont-logo-description p {
    font-size: 10pt;
}

.cont-enlaces-info {
    /* border: solid 2px red; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.cont-enlaces-info h5 {
    font-weight: 700;
    font-size: 18pt;
}

.cont-enlaces-1 a {
    text-decoration: none;
    color: var(--colorBlanco);
}

.cont-enlaces-1 a:hover {
    color: var(--colorAzulClaro);
}

.cont-enlaces-2 {
    /* border: solid 1px red; */
    width: 50%;
}

/* Fin Section servicios */
.cont-footer-blue {
    width: 100% !important;
    padding: 1.5% 0;
    background: var(--colorAzulClaro);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--colorBlanco);
}
.cert-siso-img{
    display: flex;
    align-items: center;
}
.cert-siso-img img{
    width: 70px;
    height: 20px;
    margin-left: 5px;
    object-fit: contain;
}